################################

# PostgreSQL Configuration

################################



POSTGRES_USER=threatintel



POSTGRES_PASSWORD=ChangeThisPassword



POSTGRES_DB=threatintel





################################

# n8n Configuration

################################



N8N_USER=admin



N8N_PASSWORD=ChangeThisPassword





################################

# Grafana Configuration

################################



GRAFANA_USER=admin



GRAFANA_PASSWORD=ChangeThisPassword



################################
# API Keys
################################

MALWAREBAZAAR_API_KEY=replace_with_your_key
URLHAUS_API_KEY=replace_with_your_key
OTX_API_KEY=replace_with_your_key


NVD_API_KEY=replace_with_your_key

